<%= form_for @message do |f| %>

  <% if @message.errors.any? %>
    <% @message.errors.full_messages.each do |msg| %>
      <p><%= msg %></p>
    <% end %>
  <% end %>

  <p><%= f.text_area :text %></p>
  <p><%= f.submit 'send', :class => 'message-button' %></p>

<% end %>
