<%= form_for @message do |f| %>

  <% if @message.errors.any? %>
    <% @message.errors.full_messages.each do |msg| %>
      <p><%= msg %></p>
    <% end %>
  <% end %>

  <%= f.text_area :text %>
  <%= f.submit 'send' %>

<% end %>
