<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>hello <%= @user.email %></p>
    <p><%= @message.user.email %> sent you this message:</p>
    <p><%= @message.text %></p>
  </body>
</html>
