body {
  background-color: #0abfbc;
  color: #13747d;
  font-family: 'Artifika', serif;
}

a {
  color: #ffefd3;
  text-decoration: none
}

.message-text {
  color: #ffefd3;
  font-size: 25px
}

.big-message-text {
  color: #ffefd3;
  font-size: 35px
}

.comment-text {
  color: #ffefd3;
  font-size: 20px
}

.we-three {
  font-size: 50px;
  border-bottom: 2px solid;
  text-align: center
}

textarea {
  resize: none;
  border-radius: 4px;
  border: none;
  height: 50px;
  width: 500px;
  color: #0abfbc;
  font-size: 20px;
  font-family: 'Artifika', serif;
}

.message-button {
  font-family: 'Artifika', serif;
  background-color: #ffefd3;
  color: #0abfbc;
  border: none;
  border-radius: 4px;
  height: 40px;
  width: 80px;
  font-size: 20px
}

.comment-button {
  font-family: 'Artifika', serif;
  background-color: #ffefd3;
  color: #0abfbc;
  border: none;
  border-radius: 4px;
  height: 40px;
  width: 120px;
  font-size: 20px
}

.message-elements {
  border-style: solid;
  border-width: 2px;
  border-radius: 8px;
  border-color: #13747d;
}

.login-box {
  background-color: white;
  border: none;
  border-radius: 4px;
  height: 30px;
  width: 300px;
  font-family: 'Artifika', serif;
  color: #0abfbc;
  font-size: 20px
}

.cancel-button {
  font-family: 'Artifika', serif;
  background-color: #ffefd3;
  color: red;
  border: none;
  border-radius: 4px;
  height: 40px;
  width: 240px;
  font-size: 20px
}
